@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap');

.font-inter{
  font-family: "Inter", sans-serif;
}
.hero-banner{
  background-image: url(../Assests/banner-image.png) !important;
  height: 580px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.gaming-console{
  background-image: url(../Assests/GamingConsoleImage.png);
}

.tab-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: #F9FF8A;
  border-radius: 1.75em;
  padding: 3px;
}
.tab-buttons-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: #F9FF8A;
  border-radius: 1.75em;
  padding: 3px;
  width: 70%;
  margin: 0px auto;
}
.tab-btn:hover{
  border-radius: 1.75em;
  background-color: #A57BFF;
  color: #ffff;
}
.tab-btn button{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 0.75rem 1rem;
  font-family: "Inter", sans-serif;

}
.tab-btn-mobile button{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 0.75rem 1rem;
  font-family: "Inter", sans-serif;
}
.tab-btn-mobile button:hover{
  border-radius: 1.75em;
  background-color: #A57BFF;
  color: #ffff;
}
.border-tabs{
  border: 1px solid #dddfaf;
  height: 25px;
}
.mobile-menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #ffff;
  width: 100%;
  top: 59px;
  left: 0px;
  padding: 20px 0px;
  border-bottom: 1px solid #000;
  z-index: 99;
}

.routes-right{
  background-image: url("../Assests/AdsSettings-2.png");
  background-size: contain;
}
.navlinks{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.navlinks-mobile{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navlinks-mobile li{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
  color: #3C3C43;
}
.navlinks li{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
  color: #3C3C43;
}
.navlinks li:hover{
  color: #000000;
}
.order-button{
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  background: #80FFAB;
  border-radius: 12px;
}
.order-button:hover {
   color: #80FFAB;
   border: 1px solid #80FFAB;
   background-color: #fff;
   transition: all 0.5s;
}
.menu-toggle{
  display: none;
}

.navbar{
  padding: 5px 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: gray !important;
}
.react-calendar__navigation{
  margin-bottom: 15px;
}
.react-calendar__tile--active abbr {
  background: #a57bff;
  color: #ffffff;
  border-radius: 60px;
  padding:2px;
}
.react-calendar__tile{
  font-size:12px;
}
.react-calendar__month-view__days{
  gap: 6px;
}

.react-calendar__tile abbr:hover {
  border:1px solid #a57bff; 
  border-radius: 60px;
}
.footer-navigation{
  list-style: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  line-height: 25px;
  letter-spacing: 0.05px;
  color: #8b8b90;
}
.footer-address{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05px;
  color: #535357;
}
.footer-callbtn{
   background: #39393d;
   border: 1px solid #8b8b90;
   color: #8b8b90;
   font-size: 16px;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   margin-top: 10px;
}
.needtoknow{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05px;
  color: #ffff;
}
.adsBlog-btn{
  background-color: #ffff;
  color: #000;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top:10px;
}

.footer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
 
}
.footer-wrap{
  max-width: 1280px;
  margin: 0px auto;
  width: 100%;
  box-sizing: border-box;
}
.footer-logo{
  width: 30%;
}
.footer-links{
  width: 20%;
}
.Address-main{
  width: 20%;
}
.know-sec{
  width: 20%;
}
.copyright-sec{
  display: flex;
  margin-top: 30px;
}
.company-name{
  padding-top: 87% !important;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  font: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05px;
}
.company-name p{
  background: #695953;
  border-radius: 9999px;
  width: fit-content;
  padding: 0.5rem;
  color: #ffff;
}

.social-icon:hover{
  width:25px;
  transition : all 0.5s;
}
.footer-callbtn:hover{
  border:1px solid #ffff;
  color: #ffff;
  transition: all 1s;
}
.footer-navigation:hover{
  color: #ffff;
  transition: all 1s;
}
.adsBlog-btn:hover{
  border: 1px solid #ffff;
  color: #ffff;
  background: none;
  transition: all 0.5s;
}
/* Custom styles for react-calendar */
.react-calendar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align month name to the left */
}

.react-calendar__navigation {
  display: flex;
  justify-content: flex-end; /* Align navigation arrows to the right */
}

.react-calendar__navigation button {
  margin: 0 5px;
}

.adCampain-container{
  margin: 0px auto;
  max-width: 1280px;
  width: 100%;
}
.adCampain-wrap{
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  gap: 10px;

}
.adCampain-heading{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 34px;
  width: 32%;
}
.adCampain-sec{
 width: 23%;
 font-family: "Inter", sans-serif;
}

.main-h-adCampain{
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  padding-bottom: 40px;
  padding: 0px 20px;
  gap: 20px;
  width: 100%;
  display: flex;
}
.heading-campain{
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -4px;
  line-height: 70px;
  font-family: "Inter", sans-serif;}
.allCompain-container{
  margin: 0px auto;
  font-family: "Inter", sans-serif;
  max-width: 1280px;
  width: 100%;
}
.routes-wrap{
  width: 100%;
  display: flex;
  padding-top: 40px;
  padding-bottom: 20px;
  gap: 10px;
  padding: 0px 20px;
  margin-top: 40px;
}
.routes-left,.routes-right{
  width: 50%;
}
.routes-right{
  margin-left: 80px;
}
/* :where(.css-dev-only-do-not-override-nnuwmp).ant-modal{
  top: 0px !important;
  margin: 0px !important;
  padding-bottom: 0px !important;

}
:where(.css-dev-only-do-not-override-nnuwmp).ant-modal .ant-modal-content{
  width: 1280px;
  border-radius: 0px;
  background-color: #e4e4e4;
} */
@media screen and (max-width:580px) {
.hero-banner{
  height: 200px;
}
.adCampain-wrap{
  flex-direction: column;
}
.adCampain-sec{
  width: 100%;
}
.adCampain-heading{
  width: 85%
}
.heading-campain{
  font-size: 40px;
}
.routes-wrap{
  flex-direction: column;
}
.routes-right{
  margin-left: 0px;
  width:100%;
}
.know-sec{
 width: 80%;
 margin: 30px 0px;
}
.Address-main{
  width: 80%;
}
.footer-logo{
  width: 100%;
}
.footer-container{
  flex-direction: column;
  gap: 10px;
}
.menu-toggle{
  display: block;
}
.tab-buttons,.navlinks{
  display: none;
}
.gaming-console {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.adCampain-wrap{
  padding: 1rem;
}
.heading-campain{
  line-height: normal;
}
.routes-right{
  background-size: contain;
  height: 600px;
}
}